@charset "EUC-KR";

@font-face {
  font-family: 'dohyeon';
  src: url('../../font/BMDOHYEON_ttf.ttf') format('truetype');
}

@font-face {
  font-family: 'PapyrusB';
  src: url('../../font/Typo_PapyrusB.ttf') format('truetype');
}
@font-face {
  font-family: 'PapyrusEB';
  src: url('../../font/Typo_PapyrusEB.ttf') format('truetype');
}
@font-face {
  font-family: 'PapyrusL';
  src: url('../../font/Typo_PapyrusL.ttf') format('truetype');
}
@font-face {
  font-family: 'PapyrusM';
  src: url('../../font/Typo_PapyrusM.ttf') format('truetype');
}