<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="maeggi.seggi.mypage.BoardVO" alias="board" />
		<typeAlias type="maeggi.seggi.loginandcustomer.memberVO" alias="member" />
		<typeAlias type="maeggi.seggi.recipe.RecipeVO" alias="recipe"/>
		<typeAlias type="maeggi.seggi.restaurant.RecipePlannerAddVO" alias="add"/>
		<!-- fridge -->
		<typeAlias type="maeggi.seggi.fridge.FridgeVO" alias="fridge"/>
		<typeAlias type="maeggi.seggi.fridge.FridgeDetailVO" alias="fridgeDetail"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/mypage_board.xml" />
		<mapper resource="mapper/loginandcustomer_member.xml" />
		<mapper resource="mapper/recipe.xml"/>
		<mapper resource="mapper/add.xml"/>
		<!-- fridge -->
		<mapper resource="mapper/fridge.xml"/>
		<mapper resource="mapper/fridge_detail.xml"/>
	</mappers>
</configuration>