@charset "UTF-8";

h2,h3{
	font-family: 'PapyrusM';
}




#asklist_customview{
	margin-top : 10px;
	margin-bottom: 10px;
	
}

#asklistid{
	margin-left : auto;
	margin-right: auto;
	width : 1000px;
	text-align: center;
}
#asklistid th {
    text-align: center;
  }
